# dependencies
node_modules
.pnpm-store/

# testing
coverage

# production
dist
build
docs/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# generated types
.astro/
